html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 25rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 25rem
}

.myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
}
